h1 {
    color: green;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.leaflet-top {
    top: 5rem;
}

.leaflet-popup .leaflet-popup-content {
    margin: 0;
    width: auto !important;
}

.leaflet-popup .leaflet-popup-content-wrapper{
    padding: 0;
}

